.container {

}

/* .inforMovie {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/764/590/391/inception-leonardo-dicaprio-movie-posters-2400x3500-entertainment-movies-hd-art-wallpaper-preview.jpg");
    filter: blur(15px);
    height: 1000px;
    width: 1900px;
    z-index: 0;
} */

.item {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 300px;
    align-items: center;
}

.itemImg {
    height: auto;
}

.buyTicket {
    height: 30px;
    width: 90px;
    background-color: rgb(237, 155, 68);
    margin: 10px;
    border-radius: 8px;
    font-size: large;
    font-weight: 500;
}